.Goals {
  position: absolute;
  width: 410px;
  height: 290px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
   border: 2px solid rgba(45, 212, 191, 0.5);
  box-shadow: 0 0 10px rgba(15, 211, 211, 0.5);
  
}

@media (max-width: 480px) {
  .certificate-card {
    width: 90%;            
    max-width: 300px;       
    left: 50%;
    transform: translateX(-50%);
    top: auto;             
    position: absolute;    
    margin: 1rem auto;     
    padding: 1rem;     
      top: 180rem;    
  }
}

.Goals:hover {
  transform: scale(1.03);
  bbox-shadow: 0 0 15px rgba(15, 211, 211, 0.5);
  border: 1.5px solid #14b8a6;
}

.Goals__image {
  display: none !important;
}

.Goals__content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none !important;
  
}


.Goals__heading {
  font-size: 32px;
  color: #14b8a6;;
  font-weight: 700;
  text-align: center;
   margin: 0%;
   padding-top: 1.30rem;
   padding-left: 3.2rem;
   position: absolute;
   top: 0.2rem;
}

.Goals__description {
   font-size: 1.2rem;
  line-height: 1.7;
  color: #e2e8f0; 
  max-width:380px;
  text-align: justify;
  margin: 0 auto;
  padding: 0 0.7rem;
}

.short-term {
  top: 296rem;
  left: 5.5rem;
}

.mid-term {
  top: 296rem;
  left: 34rem;
}

.long-term {
  top: 296rem;
  left: 63rem;
}

.Goals svg,
.Goals .icon-svg {
  width: 38px;
  height: 38px;
  fill: #14b8a6;
  stroke: #14b8a6;
  color: #14b8a6;
  transition: all 0.3s ease;
  padding: 8px;
  
}


.Goals:hover svg,
.Goals:hover .icon-svg {
  fill: #14b8a6;
  stroke: #14b8a6;
  color: #14b8a6;
  
}