.meabout-container {
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 2rem auto;
  width: 1285px;
  top: 53rem;
 left: 5.4rem;
  position: absolute;
transition:transform 0.3s ease,border-color 0.3s ease ;
 border: 2px solid rgba(45, 212, 191, 0.5);
  box-shadow: 0 0 10px rgba(15, 211, 211, 0.5);
height: 580px;
}

.meabout-card {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  gap: 2rem;
   flex-wrap: wrap;
}
.meabout-container:hover{
    transform: scale(1.01);
  box-shadow: 0 0 15px rgba(15, 211, 211, 0.5);
  border: 1.5px solid #14b8a6;
 
}

.meabout-text {
  color: #fff;
  font-size: 1.2rem;
  flex: 1;
  line-height: 1.6;
  /* max-width: 900px;
  text-align: justify;
  margin: 0 auto;
  padding: 0 0.7rem; */
}

.highlight-white {
  font-weight: bold;
}

.highlight-gradient {

  background-color: rgba(45,212 ,191,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.meabout-text ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.meabout-text ul li {
  margin-bottom: 0.5rem;
}

.quote {
  color:   rgba(45,212 ,191,1);
  margin-top: 1.5rem;
  font-style: italic;
}

.meabout-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 100%;
  max-height: fit-content;
}


@media (max-width: 768px) {
  .meabout-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .meabout-image img {
    max-width: 100%;
  }
}


/* @media (max-width: 480px) {
  .meabout-container {
    width: 80%;             
    justify-content: center;     
    align-items: center;       
    top: auto;              
    position: absolute;     
    height: auto;           
    padding: 1rem;          
    margin: 1rem auto;
    top: 38rem;
  }
}

  .meabout-card {
    flex-direction: column; 
    align-items: center;
    gap: 1rem;              
    text-align: center;
  }

  .meabout-text {
    font-size: 0.9rem;      
    max-width:400px;
  text-align: justify;
  }

  .meabout-image img {
    max-width: 70%;         
  }
  .quote {
  color:   rgba(45,212 ,191,1);
  margin-top: 1.5rem;
  font-style: italic;
}; */