@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animated-gradient-text {
  position: absolute;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: bold;
  backdrop-filter: blur(10px);
  transition: box-shadow 1.5s ease-out;
  font-size: 4.35rem;
  top:10.5rem;
  left: 50%;
  padding: 1rem;
  transform: translateX(-50%);
  z-index: 10;
  font-family: sans-serif;
  white-space: nowrap;
  text-align: center;
}

.left word {
  position: fixed;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: bold;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  cursor: pointer;
  font-size: 4rem;
  top: 23rem; 
  left: 50%;
  padding: 1rem;
  transform: translateX(-50%);
  z-index: 10;
  font-family: sans-serif;
  white-space: nowrap;

}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}


@media (max-width: 1024px) {
  .animated-gradient-text {
    font-size: 3.2rem;
    letter-spacing: 1.5px;
  }
  .left word {
    font-size: 2.8rem;
    letter-spacing: 1px;
    top: 8.5rem;
  }
}

@media (max-width: 768px) {
  .animated-gradient-text {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  .left word {
    font-size: 2.2rem;
    letter-spacing: 0.8px;
    top: 8.5rem;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .animated-gradient-text {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    top: 8.5rem;
    justify-content: center;
    text-align: center;
    margin-left: -1rem;
  }
  .left word {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    top: 8.5rem;
    justify-content: center;
    text-align: center;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}