.dock {
  position: fixed;
  top: 70%;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  transform: translateX(-4px); 
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 0 transparent);

}

.icon {
  color: #ffffff;
  font-size: 1.2rem;
}
.icon1 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border: 2.5px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 15px  rgb(255, 255, 255);
  background-color: transparent;
  opacity: 0.7;
}
.icon2 {
  color: rgb(0, 92, 191);
  font-size: 1.2rem;
  border: 2.5px solid rgb(0, 92, 191);
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 15px  rgb(0, 92, 191);
  /* background-color: rgb(1, 1, 42); */
  background-color: transparent;
  /* box-shadow: (x-value)(y-value)(blur value)(spread value)(color); */
  opacity: 0.8;
}

.icon3 {
  color: rgb(174, 57, 153);
  font-size: 1.2rem;
  border: 2.5px solid rgb(174, 57, 153);
  border-radius: 50%;
  padding: 0.5rem;
  /* text-shadow: (x-value)(y-value)(blur value)(spread value)(color); */
 box-shadow: 0 0 15px  rgb(174, 57, 153);
 background-color: transparent;
 opacity: 0.8;
}
.icon1:hover {
  transform:scale(1.1);
  transition: transform 0.3s ease;
}
.icon3:hover {
  transform:scale(1.1);
  transition: transform 0.3s ease;
}
.icon2:hover {
  transform:scale(1.1);
  transition: transform 0.3s ease;
}

.tooltip {
  position: absolute;
  /* top: 50%; */
  left: 110%; 
  transform: translateY(-50%);
  background: linear-gradient(49deg, #40ffaa, #4079ff, #40ffaa, #4079ff, #40ffaa);
  background-size: 600% 600%;
  animation: gradientBackground 8s linear infinite;
  color: #fff;
  padding: 0.4rem 0.6rem;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 9999;
}

.icon1:hover + .tooltip,
.icon2:hover + .tooltip,
.icon3:hover+ .tooltip {
  opacity: 1;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
