

.aurora-hero {  
  position: fixed;  
  display: grid;  
  height: 110vh;  
  background-size: cover;  
  background-position: center;  
  width: 100%;  
  place-content: center;  
  overflow: hidden;  
  background-color: #0f172a;   
  color: #e5e7eb;   
  padding: 6rem 1rem;  
  z-index: -1;  
  top: -6rem;  
  right: 0%;  
  left: 0%;  
}  

.aurora-badge {  
  margin-bottom: 0.375rem;  
  background-color: rgba(75, 85, 99, 0.5);   
  padding: 0.375rem 0.75rem;  
  border-radius: 9999px;  
  font-size: 0.875rem;  
}  

.aurora-description {  
  max-width: 36rem;  
  margin: 1.5rem 0;  
  font-size: 1rem;  
  line-height: 1.75;  
}  

@media (min-width: 768px) {  
  .aurora-description {  
    font-size: 1.125rem;  
  }  
}  

.aurora-button {  
  display: flex;  
  align-items: center;  
  gap: 0.375rem;  
  background-color: rgba(2, 6, 23, 0.1);  
  padding: 0.8rem 1.3rem;  
  border-radius: 9999px;  
  color: #f9fafb;  
  transition: background-color 0.3s;  
  border: 1.5px solid transparent;  
  position: absolute;  
  font-size: 0.93rem;  
  justify-content: center;  
  cursor: pointer;  
}  

.aurora-button:hover {  
  background-color: rgba(2, 6, 23, 0.5);  
}  

.aurora-icon {  
  transition: transform 0.3s;  
}  

.aurora-button:hover .aurora-icon {  
  transform: rotate(-45deg);  
}  

.aurora-button:active .aurora-icon {  
  transform: rotate(-12deg);  
}  

.aurora-canvas {  
  position: absolute;  
  inset: 0;  
  z-index: 0;  
  top: 3rem;  
}  

@media (min-width: 640px) {  
  .aurora-heading {  
    font-size: 3rem;  
  }  
}  

@media (min-width: 768px) {  
  .aurora-heading {  
    font-size: 4.5rem;  
  }  
}



@media (max-width: 640px) {  
  .aurora-hero {  
       position: fixed;
top: -2rem;       
left: 0;
right: 0;
width: 100%;
/* height:100dvh;  */
z-index: -1;   
background-color: #0f172a;
color: #e5e7eb;
display: grid;
place-content: center;
overflow: hidden;
padding: 4rem 1rem; 
background-size: cover;
background-position: center;
height: -webkit-fill-available;
    min-height: 100dvh;

  }  

  .aurora-description {  
    font-size: 0.9rem;  
    line-height: 1.5;  
    text-align: center;  
  }  

  .aurora-heading {  
    font-size: 2.25rem;  
    text-align: center;  
  }  

  /* .aurora-button {  
    font-size: 0.85rem;  
    padding: 0.6rem 1.1rem;  
    position: relative;  
    margin: 1rem auto 0;  
  }   */
     .aurora-button {  
  font-size: 0.85rem;  
  padding: 0.6rem 1.1rem;  
  position: relative;  
  margin: 1rem auto 0;  
}

/* Phone ke liye */
@media (max-width: 480px) {
  .aurora-button {
    font-size: 0.7rem;
    padding: 0.5rem 0.9rem;
    top: -8rem;
  }
}

  .aurora-badge {  
    font-size: 0.75rem;  
    padding: 0.3rem 0.6rem;  
    text-align: center;  
  }  

  .aurora-canvas {  
    top: 2rem;  
  }  
}